body  {
	background-color: Black;
}
#main{
	background: #fff;
	width:800px;
	margin: auto;
    color:black;
}
#header{
	padding: 0 0 0 20px;
	background: url(image/header.jpg);
}
#white{
	color: #fff;
}
#metamorph{
	color: #fff;
	font-size: 1.5em;
}
#menu{
	width: 800px;
	background-color: black;
	color: #fff;
}
#menu ul{
	display: inline;
}